<li>
  <%= gravatar_for user, :Size => 30%>
  <%= link_to user.name, user %>
  <% if !user.admin? %>
   | <%= link_to "Delete", user, :method => :delete,
                :confirm => "You sure?", :title => "Delete #{user.name}" %>
  <% end %>
</li>
