<h1>
  <p>
    Get help on Ruby on Rails Tutorial at 
    <a href="http://railstutorial.org/help">Ruby on Rails Tutorial Help</a>
    To get help on this Sample App, see the
    <a href="http://railstutorial.org/book">Rails Tutorails book</a>
  </p>
</h1>
